
@media screen and (max-width: 1000px) {
    p {
        font-size: .9rem;
        line-height: 1.8rem;
    }

    .grid-3 {
        gap: 1rem;
    }

    .skills-right ul li {
        font-size: .9rem;
    }
}

@media screen and (max-width: 825px) {
    /* Burger */
    .burger{
        display: block;
        cursor: pointer;
    }

    .name-right {
        border-bottom: 1px solid black;
        margin-bottom: 30px;
    }

    .name-right h1 {
    font-size: 2rem;
    margin-bottom: 40px;
    }

    .skills-right p {
        margin: 0 auto;
        text-align: center;
    }

    .burger span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px auto;
    }

    .toggle-burger span:nth-child(1) {
        transform: rotate(-45deg) translate(-4px, 7px);
    }

    .toggle-burger span:nth-child(2) {
        opacity: 0;
    }

    .toggle-burger span:nth-child(3) {
        transform: rotate(45deg) translate(-4px, -7px);
    }

    /* NAV */
    .navbar {
        position: fixed;
        width: 50%;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        border-left: 1px solid #E5E4E2;
        z-index: 9;
        transform: translateX(100%);
        transition: 0.4s ease-in-out;
    }

    .navbar ul {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #EEEEEE;

    }

    .navbar ul li a{
        background-color: #EEEEEE;
    }

    .navbar li {
        background-color: #EEEEEE;
    }

    .nav-active {
        transform: translateX(0);
    }

    .navbar .nvb:hover {
        background-color: #F5F5F5;
    }

    .cv-btn {
        background-color: #EEEEEE;
    }

    .cv-btn:hover {
        background-color: #F5F5F5;
    }

    /* name */
    #name {
        grid-template-columns: 1fr;
        height: fit-content;
        justify-items: center;
    }

    .name-right {
        order: -1;
    }

    .name-left {
        text-align: center;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .name-left .pre-title {
        margin: 0 auto;
    }

    /* skills */

    .skills-right p {
        margin: 0 auto;
    }

    .skills-list ul {
        margin: 0 auto;
    }
    .skills-list li {
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 768px) {

    .name-right {
        margin-bottom: 30px;
    }

    .name-right h1 {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    .skills-right p {
        margin: 0 auto;
        text-align: center;
    }


    #text {
        padding: 1rem;
    }

    .port-text h1 {
        text-align: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
}

@media screen and (max-width: 430px) {

    .name-right {
        margin-bottom: 30px;
    }

    .name-right h1 {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    #text {
        padding: 1rem;
    }

    .skills-right p {
        margin: 0 auto;
        text-align: center;
    }


}

@media screen and (max-width: 375px) {

    #text {
        padding: 1rem;
    }

    .skills-right p {
        margin: 0 auto;
        padding-right: 15px;
        text-align: center;
    }

    .skills-list ul {
        margin: 0 auto;
    }
    .skills-list li {
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .name-left {
        text-align: center;
        justify-content: center;
        padding-bottom: 5rem;
        width: 100%;
    }
    
    .name-right {
        margin-bottom: 30px;
    }

    .name-right h1 {
        font-size: 2rem;
        margin-bottom: 40px;
    }

    #text {
        padding: 1rem;
    }

    .port-text h1 {
        text-align: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
}
